{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    // https://github.com/umijs/babel-plugin-import#options
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
