<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.robot.mapper.RRobotLocationMapper">

    <resultMap type="RRobotLocation" id="RRobotLocationResult">
        <result property="id"    column="id"    />
        <result property="robotId"    column="robot_id"    />
        <result property="located"    column="located"    />
        <result property="mapId"    column="map_id"    />
        <result property="x"    column="x"    />
        <result property="y"    column="y"    />
        <result property="yaw"    column="yaw"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectRRobotLocationVo">
        select id, robot_id, located, map_id, x, y, yaw, create_by, create_time, update_by, update_time, remark, status from r_robot_location
    </sql>

    <select id="selectRRobotLocationList" parameterType="RRobotLocation" resultMap="RRobotLocationResult">
        <include refid="selectRRobotLocationVo"/>
        <where>
            <if test="robotId != null "> and robot_id = #{robotId}</if>
            <if test="located != null "> and located = #{located}</if>
            <if test="mapId != null "> and map_id = #{mapId}</if>
            <if test="x != null "> and x = #{x}</if>
            <if test="y != null "> and y = #{y}</if>
            <if test="yaw != null "> and yaw = #{yaw}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectRRobotLocationById" parameterType="Long" resultMap="RRobotLocationResult">
        <include refid="selectRRobotLocationVo"/>
        where id = #{id}
    </select>
    <select id="selectNewStRRobotLocationByRobotId" parameterType="Long" resultMap="RRobotLocationResult">
        <include refid="selectRRobotLocationVo"/>
        where robot_id = #{id} order by create_time desc limit 0,1
    </select>

    <insert id="insertRRobotLocation" parameterType="RRobotLocation" useGeneratedKeys="true" keyProperty="id">
        insert into r_robot_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="robotId != null">robot_id,</if>
            <if test="located != null">located,</if>
            <if test="mapId != null">map_id,</if>
            <if test="x != null">x,</if>
            <if test="y != null">y,</if>
            <if test="yaw != null">yaw,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="robotId != null">#{robotId},</if>
            <if test="located != null">#{located},</if>
            <if test="mapId != null">#{mapId},</if>
            <if test="x != null">#{x},</if>
            <if test="y != null">#{y},</if>
            <if test="yaw != null">#{yaw},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateRRobotLocation" parameterType="RRobotLocation">
        update r_robot_location
        <trim prefix="SET" suffixOverrides=",">
            <if test="robotId != null">robot_id = #{robotId},</if>
            <if test="located != null">located = #{located},</if>
            <if test="mapId != null">map_id = #{mapId},</if>
            <if test="x != null">x = #{x},</if>
            <if test="y != null">y = #{y},</if>
            <if test="yaw != null">yaw = #{yaw},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRRobotLocationById" parameterType="Long">
        delete from r_robot_location where id = #{id}
    </delete>

    <delete id="deleteRRobotLocationByIds" parameterType="String">
        delete from r_robot_location where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
